:root {
    --calc-width: 300px;
    --calc-columns: 4;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    outline: 1px red solid;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(var(--calc-columns), 1fr);

    width: var(--calc-width);
    padding: 5px;
    background-color: aqua;

    font-family: 'Oxanium', sans-serif;

    .keyBtns {
        min-height: calc(var(--calc-width)/var(--calc-columns));
        border: 2px solid dimgray;

        &:hover {
            border: 2px solid white;
        }
    }

    #displayContainer {
        grid-column: span 4;
        background-color: lightgrey;
        padding: 5px;
        display: flex;
        flex-direction: column;

        p {
            margin:  0px;
            white-space: initial;
            word-wrap: break-word;
            min-height: 20px;
            text-align: right;
        }
        
    }

    #clear,
    #zero {
        grid-column: span 2;
    }

    #equals {
        grid-row: span 2;
    }


}