:root {
  --calc-width: 300px;
  --calc-columns: 4;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  outline: 1px red solid;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(var(--calc-columns), 1fr);
  width: var(--calc-width);
  padding: 5px;
  background-color: aqua;
  font-family: 'Oxanium', sans-serif;
}

#calculator .keyBtns {
  min-height: calc(var(--calc-width)/var(--calc-columns));
  border: 2px solid dimgray;
}

#calculator .keyBtns:hover {
  border: 2px solid white;
}

#calculator #displayContainer {
  grid-column: span 4;
  background-color: lightgrey;
  padding: 5px;
  min-height: calc(var(--calc-width)/var(--calc-columns));
  display: flex;
  flex-direction: column;
}

#calculator #displayContainer p {
  margin: 0;
  flex: 1;
  max-width: calc(var(--calc-width) - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-indent: 10px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

#calculator #clear,
#calculator #zero {
  grid-column: span 2;
}

#calculator #equals {
  grid-row: span 2;
}
