:root {
    --calc-width: 250px;
    --calc-columns: 4;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

* {
    // outline: 1px red solid;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(var(--calc-columns), 1fr);

    width: var(--calc-width);
    padding: 5px;
    background-color: aqua;

    .keyBtns {
        min-height: calc(var(--calc-width)/var(--calc-columns));
        border: 2px solid dimgray;

        &:hover {
            border: 2px solid white;
        }
    }

    #displayContainer {
        grid-column: span 4;
        background-color: lightgrey;
        padding: 5px;

        p {
            margin: 0;

            text-indent: 10px;
            font-size: 20px;
            font-weight: 700;

            min-height: calc(var(--calc-width)/var(--calc-columns)/2);
        }
    }

    #clear,
    #zero {
        grid-column: span 2;
    }

    #equals {
        grid-row: span 2;
    }


}