:root {
    --calc-width: 250px;
    --calc-columns: 4;
    --bg-color: rgb(30, 15, 65);
    --text-color: black;
    --text-color2: gray;
    --text-color3: white;
    --calc-color: rgb(255, 239, 188);
    --num-color: rgb(255, 201, 139);
    --operator-color: rgb(255, 173, 67);
    --reset-color: rgb(255, 135, 80);
    --equate-color: rgb(255, 230, 0);
}

.App {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;


    height: 100vh;
    background-color: var(--bg-color);
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    // outline: 1px red solid;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(var(--calc-columns), 1fr);
    width: var(--calc-width);
    padding: 10px;
    background-color: var(--calc-color);
    border-radius: 10px;


    .keyBtns {
        min-height: calc((var(--calc-width)/var(--calc-columns)) - 10px);

        border-radius: 5px;
        border: none;

        margin: 5px;

        font-family: 'Oxanium', sans-serif;
        font-weight: 600;
        font-size: 18px;

        &:hover {
            border: 2px solid white;
        }
    }

    .keyBtns[data-set-btnType="number"] {
        background-color: var(--num-color);
    }

    .keyBtns[data-set-btnType="operator"] {
        background-color: var(--operator-color);
    }

    .keyBtns[data-set-btnType="clear"] {
        background-color: var(--reset-color);
    }

    .keyBtns[data-set-btnType="equate"] {
        background-color: var(--equate-color);
    }

    #displayContainer {
        grid-column: span 4;
        padding: 5px;
        display: flex;
        flex-direction: column;

        p {
            margin:  0px;
            white-space: initial;
            word-wrap: break-word;
            min-height: 20px;
            text-align: right;
            font-family: 'Oxanium', sans-serif;
            overflow: hidden;
        }

        #solution {
            color: var(--text-color2);
            font-size: 15px;
        }

        #display {
            color: var(--text-color);
            font-weight: 600;
            font-size: 20px;
        }
    }

    #clear,
    #zero {
        grid-column: span 2;
    }

    #equals {
        grid-row: span 2;
    }


}

#footer {
    color: var(--text-color3);
    padding: 15px;
    a {
        text-decoration: none;
        color: var(--text-color3);
        font-size: 15px;
        font-weight: 600;
    }
    i{
        font-size: 20px;
    }
}